# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.NetMarket.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Trabajo\NetMarket\NetMarket\.idea\.idea.NetMarket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
